ion-toolbar {
    --background: var(--ion-color-primary);
    box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);
    color: white;
    font-weight: 200;
  }
  ion-content {
    h3 {
      align-content: center;
      text-align: center;
      font-size: 1.7rem;
      font-weight: bold;
    }
    h5 {
      align-content: center;
      text-align: center;
      font-weight: 400;
      font-size: 1rem;
    }
    ion-item {
      display: flex;
      margin-top: 1.5rem;
      margin-left: 1.8rem;
      margin-right: 1.8rem;
      border-radius: 0.625em 0.625em 0.625em 0.625em;
      border-style: "solid";
      --background: #eeee;
      ion-label {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
      }
      ion-input {
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
      }
    }
}