<ion-header>
</ion-header>

<ion-content>
  <!-- <img src='assets/login.png' alt='' width=276; height=206; style='margin-left: 5rem;'> -->
  <h3>Welcome Back!!</h3>
  <h5>Sign in to Continue</h5>
  <form [formGroup]="signupForm">
  <div>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
  </div>
 
  <ion-button class='btn-login' expand='block' (click)="signup()" [disabled]="buttonDisabled" style="margin-top: 100px;margin-left: 20px;margin-right: 20px; border-radius: 10px;">Login</ion-button>
  
  <br><br><br><br><br><br>
  </form>
</ion-content>