<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style='color: white;' menu='main-menu'></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img src='assets/login.png' alt='' width=276; height=206; style='margin-left: 5rem;'> -->
  <h3>Welcome Back!!</h3>
  <h5>Sign in to Continue</h5>
  <form [formGroup]="signupForm">
  <div>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
  </div>
 
  <ion-button class='btn-login' expand='block' (click)="signup()" [disabled]="buttonDisabled">Login</ion-button>
  
  <br><br><br><br><br><br>
  </form>
</ion-content>