<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Upload Your Movies!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="movieForm">
      <ion-item>
        <ion-label position="floating">Movie Name</ion-label>
        <ion-input formControlName="Title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Movie Poster</ion-label>
        <ion-input type="file" id="poster" formControlName="Poster" (change)="upload($event)"></ion-input>
      </ion-item>
      <ion-item>
        <img [src]="imageSrc" #img *ngIf="imageSrc"/>
      </ion-item>
      <ion-button expand="block" shape="round" (click)="addMovie()" method="POST">Upload</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
