<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button color="light" class="addBtn" (click)="showCreate()">
    <ion-icon style="zoom: 400%;" name="add"></ion-icon>

  </ion-button>
  <ion-button color="light" class="joinBtn" (click)="showEnter()">
    <ion-icon style="zoom: 400%;" name="enter"></ion-icon>
  </ion-button>
</ion-content>
