.addBtn{
    width: 40vw;
    height: 40vw;
    margin-top: 30vh;
    margin-left: 9vw;
}
.joinBtn{
    width: 40vw;
    height: 40vw;
    margin-top: 30vh;
    padding-left: 2vw;
    margin-right: 9vw;
    }