<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title style="text-align: center;">
      Select Your Movie
    </ion-title>

    <ion-buttons slot='start'>
      <ion-menu-button menu='main-menu'></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot='end'></ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='6' *ngFor="let movie of movies; let id = index">
        <!-- <ion-button size='small' fill='clear' [ngClass]='myFav(id) ? "liked" : "like"' (click)='favouriteProduct(id)' *ngIf="currentUser.role == 1 || currentUser.role == 3">
          <ion-icon slot='icon-only' name="heart"></ion-icon>
        </ion-button> -->
        <ion-card>
        <!-- <ion-card [routerLink]='["/product-details", product.id]'> -->
          <img src='{{movie.movie_image}}' alt='' height="260px">
          <ion-card-header>
            <ion-card-subtitle>{{movie.movie_name}}</ion-card-subtitle>
          </ion-card-header>
          <!-- <ion-card-content>
            S${{product.price}}
          </ion-card-content> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
