ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
    ion-title {
      --color: #fbc41c;
      font-weight: 600;
      font-size: 1.125em;
    }
  }
  
ion-card {
    position: relative;
    border-radius: 0.625em;
    box-shadow: 0em 1.125em 2.5em rgba(40, 59, 122, 0.302);

    ion-card-subtitle {
      font-weight: 700;
      font-size: 1em;
      color: var(--ion-color-primary);
    }
    ion-card-content {
      font-weight: 500;
    }
  }